<template name="organization_keygrips_pane">
    <div class="x-tab c-organization-keygrips-pane">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.keygrips.preamble" }}}
                </div>
                {{> keygrip_new_button }}
            </div>

            <div class="panel-body">
                {{> keygrips_list (parmsKeygripsList) }}
            </div>

        </div>
    </div>
</template>
