<template name="organization_new_assistant_current">
    <div class="c-organization-new-assistant-current">

        {{#if haveSummary }}
            <fieldset class="summary">
                <legend>{{ i18n key="organizations.new_assistant.summary_legend" }}</legend>
                <div class="recap">
                    <table class="form-table">
                        {{#if havePane "properties" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_label_label" }}</td>
                                <td class="ui-w100">
                                    <p class="text">{{ propLabel }}</p>
                                    <p class="text2">{{ propHome }}</p>
                                    <p class="text2">{{{ propPdmp }}}</p>
                                    <p class="text2">{{ propGtu }}</p>
                                    <p class="text2">{{ propLegals }}</p>
                                    <p class="text2">{{ propLogo }}</p>
                                    <p class="text2">{{ propContactUrl }}</p>
                                    <p class="text2">{{ propContactEmail }}</p>
                                    <p class="text2">{{ propSupportUrl }}</p>
                                    <p class="text2">{{ propSupportEmail }}</p>
                                </td>
                            </tr>
                        {{/if}}
                        {{#if havePane "rest" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_rest_label" }}</td>
                                <td>
                                    <p class="text">{{ restText }}</p>
                                </td>
                            </tr>
                        {{/if}}
                        <!--
                        {{#if havePane "organization" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_organization_label" }}</td>
                                <td><p class="text">{{{ organizationText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "application" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_application_label" }}</td>
                                <td><p class="text">{{{ applicationText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "providers" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_providers_label" }}</td>
                                <td><p class="text">{{{ providersText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "grant" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_grant_label" }}</td>
                                <td><p class="text">{{{ grantText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "auth" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_auth_label" }}</td>
                                <td><p class="text">{{{ authText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "formaters" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_formaters_label" }}</td>
                                <td><p class="text">{{{ formatersText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "redirects" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_redirects_label" }}</td>
                                <td><p class="text">{{{ redirectsText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "jwks" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_jwks_label" }}</td>
                                <td><p class="text">{{{ jwksText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "authentication" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_authentication_label" }}</td>
                                <td><p class="text">{{{ authenticationText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "authorization" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_authorization_label" }}</td>
                                <td><p class="text">{{{ authorizationText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "contacts" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="organizations.new_assistant.summary_contacts_label" }}</td>
                                <td><p class="text">{{{ contactsText }}}</p></td>
                            </tr>
                        {{/if}}
                        -->
                    </table>
                </div>
            </fieldset>
        {{/if}}

    </div>
</template>
