<template name="groups_tree">
    <div class="c-groups-tree">
        <div class="panel-content">

            <div class="panel-header">
            </div>

            <div class="panel-body">
                <div class="d-flex">
                    
                    {{> groups_tree_panel (parmsTreePanel) }}
                    
                    {{> groups_tree_buttons (parmsTreeButtons) }}

                </div>
            </div>

            <div class="panel-footer">
            </div>

        </div>
    </div>
</template>
