<template name="organization_config_ident_pane">
    <div class="x-tab c-organization-config-ident-pane">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.edit.ident_config_preamble" }}}
                </div>    
            </div>

            <div class="panel-body">
                <table class="form-table ui-w100">
                    <tr>
                        <td class="ui-w15 label"></td>
                        <td class="ui-w100">
                            <fieldset>
                                <legend>{{ i18n key="organizations.edit.ident_email_legend" }}</legend>
                                <table class="form-table ui-w100">
                                    <tr>
                                        <td colspan="2">{{ i18n key="organizations.edit.ident_email_preamble" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ui-w50">
                                            <div class="d-flex flex-row align-items-center">
                                                <div class="js-email-how ui-mr1">{{> howcount_select (parmsEmailHowCount) }}</div>
                                                <input class="js-email-count" type="number" min="0" max="99999" pattern="\d*" />
                                                <p class="ui-ml05 ui-mr05">{{ i18n key="organizations.edit.ident_email_address" }}</p>
                                            </div>
                                        </td>
                                        <td>
                                            {{> FormsStatusIndicator (parmsEmailStatus) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="form-check js-email-identifier ui-mt05">
                                                <input class="form-check-input" type="checkbox" id="organization-edit-ident-email-identifier" />
                                                <label class="form-check-label" for="organization-edit-ident-email-identifier">{{ i18n key="organizations.edit.ident_email_identifier" }}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w15 label"></td>
                        <td class="ui-w100">
                            <fieldset class="ui-mt05">
                                <legend>{{ i18n key="organizations.edit.ident_username_legend" }}</legend>
                                <table class="form-table ui-w100">
                                    <tr>
                                        <td colspan="2">{{ i18n key="organizations.edit.ident_username_preamble" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ui-w50">
                                            <div class="d-flex flex-row align-items-center">
                                                <div class="js-username-how ui-mr1">{{> howcount_select (parmsEmailHowCount) }}</div>
                                                <input class="js-username-count" type="number" min="0" max="99999" pattern="\d*" />
                                                <p class="ui-ml05 ui-mr05">{{ i18n key="organizations.edit.ident_username_address" }}</p>
                                            </div>
                                        </td>
                                        <td>
                                            {{> FormsStatusIndicator (parmsUsernameStatus) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="form-check js-username-identifier ui-mt05">
                                                <input class="form-check-input" type="checkbox" id="organization-edit-ident-username-identifier" />
                                                <label class="form-check-label" for="organization-edit-ident-username-identifier">{{ i18n key="organizations.edit.ident_username_identifier" }}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
