<template name="organization_config_ident_pane">
    <div class="x-tab c-organization-config-ident-pane">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.edit.ident_config_preamble" }}}
                </div>    
            </div>

            <div class="panel-body">
                <div class="panelbody-top d-flex justify-content-center ui-mb05">
                    {{{ identityTop }}}
                </div>
                <table class="form-table ui-w100">
                    <tr>
                        <td class="ui-w10 label"></td>
                        <td class="ui-w100">
                            <fieldset>
                                <legend>{{ i18n key="organizations.edit.ident_email_legend" }}</legend>
                                <table class="form-table ui-w100">
                                    <tr>
                                        <td colspan="5">{{ i18n key="organizations.edit.ident_email_preamble" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ui-w15 label ui-vatop"><label class="form-label ui-mt05">{{ i18n key="organizations.edit.ident_email_min_label" }}</label></td>
                                        <td class="ui-w20"><div class="js-email-min-how ui-mr1 ui-w100">{{> howcount_select (parmsEmailMinHow) }}</div></td>
                                        <td class="ui-w10"><input class="js-email-min-count ui-w100" type="number" min="0" max="99999" pattern="\d*" {{ emailMinCountDisabled }} /></td>
                                        <td><p class="ui-ml05 ui-mr05">{{ i18n key="organizations.edit.ident_email_address" }}</p></td>
                                        <td>{{> FormsStatusIndicator (parmsEmailMinStatus) }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ui-w15 label ui-vatop"><label class="form-label ui-mt05">{{ i18n key="organizations.edit.ident_email_max_label" }}</label></td>
                                        <td class="ui-w20"><div class="js-email-max-how ui-mr1 ui-w100">{{> howcount_select (parmsEmailMaxHow) }}</div></td>
                                        <td class="ui-w10"><input class="js-email-max-count ui-w100" type="number" min="0" max="99999" pattern="\d*" {{ emailMaxCountDisabled }} /></td>
                                        <td></td>
                                        <td class="ui-w40">{{> FormsStatusIndicator (parmsEmailMaxStatus) }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"> 
                                            <div class="form-check js-email-identifier ui-mt05">
                                                <input class="form-check-input" type="checkbox" id="organization-edit-ident-email-identifier" {{ emailIdentifierDisabled }} />
                                                <label class="form-check-label" for="organization-edit-ident-email-identifier">{{ i18n key="organizations.edit.ident_email_identifier" }}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w10 label"></td>
                        <td class="ui-w100">
                            <fieldset class="ui-mt05">
                                <legend>{{ i18n key="organizations.edit.ident_username_legend" }}</legend>
                                <table class="form-table ui-w100">
                                    <tr>
                                        <td colspan="5">{{ i18n key="organizations.edit.ident_username_preamble" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ui-w15 label ui-vatop"><label class="form-label ui-mt05">{{ i18n key="organizations.edit.ident_username_min_label" }}</label></td>
                                        <td class="ui-w20"><div class="js-username-min-how ui-mr1 ui-w100">{{> howcount_select (parmsUsernameMinHow) }}</div></td>
                                        <td class="ui-w10"><input class="js-username-min-count" type="number" min="0" max="99999" pattern="\d*" {{ usernameMinCountDisabled }} /></td>
                                        <td><p class="ui-ml05 ui-mr05">{{ i18n key="organizations.edit.ident_username_address" }}</p></td>
                                        <td class="ui-w40">{{> FormsStatusIndicator (parmsUsernameMinStatus) }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ui-w15 label ui-vatop"><label class="form-label ui-mt05">{{ i18n key="organizations.edit.ident_username_max_label" }}</label></td>
                                        <td class="ui-w20"><div class="js-username-max-how ui-mr1 ui-w100">{{> howcount_select (parmsUsernameMaxHow) }}</div></td>
                                        <td class="ui-w10"><input class="js-username-max-count" type="number" min="0" max="99999" pattern="\d*" {{ usernameMaxCountDisabled }} /></td>
                                        <td></td>
                                        <td class="ui-w40">{{> FormsStatusIndicator (parmsUsernameMaxStatus) }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <div class="form-check js-username-identifier ui-mt05">
                                                <input class="form-check-input" type="checkbox" id="organization-edit-ident-username-identifier" {{ usernameIdentifierDisabled }} />
                                                <label class="form-check-label" for="organization-edit-ident-username-identifier">{{ i18n key="organizations.edit.ident_username_identifier" }}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
