<template name="identity_addresses_panel">
    <div class="x-panel c-identity-addresses-panel">
        <table class="js-table">

            <thead>
                <tr>
                    <th class="jqwt-border jqwt-sortable ca-w25">{{ i18n key="identities.panel.addresslabel_th" }}</th>
                    <th class="jqwt-border jqwt-sortable ca-w25">{{ i18n key="identities.panel.addressline1_th" }}</th>
                    <th class="jqwt-border jqwt-sortable ca-w25">{{ i18n key="identities.panel.addressline2_th" }}</th>
                    <th class="jqwt-border jqwt-sortable ca-w25">{{ i18n key="identities.panel.addressline3_th" }}</th>
                    <th class="jqwt-border jqwt-sortable ca-center">{{ i18n key="identities.panel.addresspreferred_th" }}</th>
                    <th class="ca-transparent">
                        <button class="btn btn-sm" disabled><span class="fa-solid fa-fw fa-minus"></span></button>
                    </th>
                    <th>
                        <button class="btn btn-sm btn-outline-primary js-plus"><span class="fa-solid fa-fw fa-plus"></span></button>
                    </th>
                </tr>
            </thead>

            <tbody>
                {{#each it in itemsList }}
                    <tr data-item-id="{{ it.id }}">
                        <td><input class="form-control js-label" type="text" /></td>
                        <td><input class="form-control js-line1" type="text" /></td>
                        <td><input class="form-control js-line2" type="text" /></td>
                        <td><input class="form-control js-line3" type="text" /></td>
                        <td class="ca-center"><input class="form-check-input js-preferred" type="checkbox" {{ isPreferred it }} /></td>
                        <td>
                            <button class="btn btn-sm btn-outline-primary std-shift-1 js-delete" title="{{ deleteTitle it }}">
                                <span class="fa-solid fa-fw fa-minus"></span>
                            </button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</template>
