<template name="identity_phone_row">

    <tr class="c-identity-phone-row" data-item-id="{{ this.it._id }}">
        <td>
            <div>
                <input class="form-control js-label" type="text" placeholder="{{ i18n key="identities.phones.label_ph" }}" />
            </div>
        </td>
        <td>
            <div class="ui-ml05">
                <input class="form-control js-number" type="text" placeholder="{{ i18n key="identities.phones.number_ph" }}" />
            </div>
        </td>
        <td>
            <div class="ui-w100 ui-center">
                <input class="form-check-input js-verified" type="checkbox" />
            </div>
        </td>
        <td>
            <div class="ui-w100 ui-center">
                <input class="form-check-input js-preferred" type="checkbox" />
            </div>
        </td>
        <td>{{> FormsStatusIndicator (parmsCheckStatus) }}</td>
        <td>
            <button class="btn btn-sm btn-outline-primary js-minus" title="{{ minusTitle this.it }}" {{ minusEnabled this.it }} >
                <span class="fa-solid fa-fw fa-minus"></span>
            </button>
        </td>
    </tr>

</template>
