<template name="authorization_properties_pane">
    <div class="x-tab c-authorization-properties-pane">
        <div class="panel-content">

            <div class="panel-header">
            </div>

            <div class="panel-body">
                <table class="form-table ui-w100">
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="authorization-label">{{ i18n key="authorizations.edit.label_label" }}</label></td>
                        <td class="ui-w100">
                            <input class="form-control flex-grow-1 js-label" type="text" id="authorization-label" placeholder="{{ i18n key="authorizations.edit.label_ph" }}" title="{{ i18n key="authorizations.edit.label_title" }}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label">{{ i18n key="authorizations.edit.group_label" }}</label></td>
                        <td class="ui-w100">
                            <input class="form-control flex-grow-1 js-group" type="text" id="authorization-name" placeholder="{{ i18n key="authorizations.edit.name_ph" }}" title="{{ i18n key="authorizations.edit.name_title" }}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="authorization-starting">{{ i18n key="authorizations.edit.starting_label" }}</label></td>
                        <td class="ui-w100">
                            <div class="ui-w50 ui-mt025 js-starting" title="{{ i18n key="authorizations.edit.starting_title" }}">
                                {{> DateInput (parmsStartDate) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="authorization-ending">{{ i18n key="authorizations.edit.ending_label" }}</label></td>
                        <td class="ui-w100">
                            <div class="ui-w50 ui-mt025 js-ending" title="{{ i18n key="authorizations.edit.ending_title" }}">
                                {{> DateInput (parmsEndDate) }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>
