<template name="authorization_properties_pane">
    <div class="x-tab c-authorization-properties-pane">
        <div class="panel-content">

            <div class="panel-header">
            </div>

            <div class="panel-body">
                <table class="form-table ui-w100">
                    <tr>
                        <td></td>
                        <td class="ui-w100">
                            <p class="ui-mt05 ui-mb05">{{ i18n key="authorizations.edit.properties_preamble" }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="authorization-label">{{ i18n key="authorizations.edit.label_label" }}</label></td>
                        <td class="ui-w100">
                            <input class="form-control js-label" type="text" id="authorization-label" placeholder="{{ labelPlaceholder }}" title="{{ i18n key="authorizations.edit.label_title" }}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="authorization-subject-type">{{ i18n key="authorizations.edit.subject_type_label" }}</label></td>
                        <td class="ui-w100">
                            <div class="ui-w100 js-subject-type">
                                {{> auth_subject_select (parmsAuthSubject) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="authorization-subject-id">{{ i18n key="authorizations.edit.subject_id_label" }}</label></td>
                        <td class="ui-w100">
                            <div class="d-flex ui-w100 js-subject-label">
                                {{#if subjectClients }}
                                    {{> clients_group_select (parmsClientsGroupSelect) }}
                                {{/if}}
                                {{#if subjectIdentities }}
                                    {{> identities_group_select (parmsIdentitiesGroupSelect) }}
                                {{/if}}
                                {{#if subjectNone }}
                                    <input class="form-control" type="text" placeholder="{{ i18n key="authorizations.edit.subject_id_ph" }}" title="{{ i18n key="authorizations.edit.subject_id_title" }}" disabled readonly />
                                {{/if}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="authorization-object-type">{{ i18n key="authorizations.edit.object_type_label" }}</label></td>
                        <td class="ui-w100">
                            <div class="ui-w100 js-object-type">
                                {{> auth_object_select (parmsAuthObject) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="authorization-object-id">{{ i18n key="authorizations.edit.object_id_label" }}</label></td>
                        <td class="ui-w100">
                            <div class="d-flex ui-w100 js-object-id">
                                {{#if objectClient }}
                                    {{> client_select (parmsClientSelect) }}
                                {{/if}}
                                {{#if objectResource }}
                                    {{> resource_select (parmsResourceSelect) }}
                                {{/if}}
                                {{#if objectNone }}
                                    <input class="form-control" type="text" placeholder="{{ i18n key="authorizations.edit.object_id_ph" }}" title="{{ i18n key="authorizations.edit.object_id_title" }}" disabled readonly />
                                {{/if}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="authorization-starting">{{ i18n key="authorizations.edit.starting_label" }}</label></td>
                        <td class="ui-w100">
                            <div class="ui-w50 ui-mt025 js-starting" title="{{ i18n key="authorizations.edit.starting_title" }}">
                                {{> DateInput (parmsStartDate) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="authorization-ending">{{ i18n key="authorizations.edit.ending_label" }}</label></td>
                        <td class="ui-w100">
                            <div class="ui-w50 ui-mt025 js-ending" title="{{ i18n key="authorizations.edit.ending_title" }}">
                                {{> DateInput (parmsEndDate) }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>
