<template name="organization_dynregistration_pane">
    <div class="c-organization-dynregistration-pane">

        <div class="preamble">
            {{{ i18n key="organizations.edit.dynregistration_preamble" }}}
        </div>

        <table class="form-table ui-w100">
            <tr>
                <td class="ui-w10"></td>
                <td class="ui-w100">
                    <div class="form-check ui-mt05" title="{{ i18n key="organizations.edit.dynconfidential_title" }}">
                        <input class="form-check-input js-confidential" type="checkbox" id="dynconfidential" />
                        <label class="form-check-label" for="dynconfidential">{{ i18n key="organizations.edit.dynconfidential_label" }}</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="form-check ui-mt05" title="{{ i18n key="organizations.edit.dynpublic_title" }}">
                        <input class="form-check-input js-public" type="checkbox" id="dynpublic" />
                        <label class="form-check-label" for="dynpublic">{{ i18n key="organizations.edit.dynpublic_label" }}</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="form-check ui-mt05" title="{{ i18n key="organizations.edit.dynuser_title" }}">
                        <input class="form-check-input js-user" type="checkbox" id="dynuser" />
                        <label class="form-check-label" for="dynuser">{{ i18n key="organizations.edit.dynuser_label" }}</label>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</template>
