<template name="groups_tree_edit">
    <div class="c-groups-tree-edit ui-h100">
        <div class="panel-content ui-h100">

            <div class="panel-header">
            </div>

            <div class="panel-body flex-grow-1">
                <div class="groups-body d-flex ui-h100">
                    
                    {{> groups_tree (parmsTree) }}
                    
                    {{> groups_buttons (parmsButtons) }}

                </div>
            </div>

            <div class="panel-footer">
            </div>

        </div>
    </div>
</template>
