<template name="client_new_assistant_current">
    <div class="c-client-new-assistant-current">

        {{#if haveSummary }}
            <fieldset class="summary">
                <legend>{{ i18n key="clients.new_assistant.summary_legend" }}</legend>
                <div class="recap">
                    <table class="form-table">
                        {{#if havePane "properties" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_name_label" }}</td>
                                <td class="ui-w100">
                                    <p class="text">{{ propName }}</p>
                                    <p class="text2">{{{ propDescription }}}</p>
                                    <p class="text2">{{ propSoftware }}</p>
                                </td>
                            </tr>
                        {{/if}}
                        {{#if havePane "profile" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_profile_label" }}</td>
                                <td>
                                    <p class="text">{{ profileText }}</p>
                                </td>
                            </tr>
                        {{/if}}
                        {{#if havePane "client" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_client_label" }}</td>
                                <td><p class="text">{{{ clientText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "application" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_application_label" }}</td>
                                <td><p class="text">{{{ applicationText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "providers" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_providers_label" }}</td>
                                <td><p class="text">{{{ providersText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "grant" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_grant_label" }}</td>
                                <td><p class="text">{{{ grantText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "auth" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_auth_label" }}</td>
                                <td><p class="text">{{{ authText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "formaters" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_formaters_label" }}</td>
                                <td><p class="text">{{{ formatersText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "redirects" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_redirects_label" }}</td>
                                <td><p class="text">{{{ redirectsText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "jwks" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_jwks_label" }}</td>
                                <td><p class="text">{{{ jwksText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "authentication" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_authentication_label" }}</td>
                                <td><p class="text">{{{ authenticationText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "authorization" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_authorization_label" }}</td>
                                <td><p class="text">{{{ authorizationText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "logout" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_logout_label" }}</td>
                                <td><p class="text">{{{ logoutText }}}</p></td>
                            </tr>
                        {{/if}}
                        {{#if havePane "contacts" }}
                            <tr>
                                <td class="label ui-vatop">{{ i18n key="clients.new_assistant.summary_contacts_label" }}</td>
                                <td><p class="text">{{{ contactsText }}}</p></td>
                            </tr>
                        {{/if}}
                    </table>
                </div>
            </fieldset>
        {{/if}}

    </div>
</template>
