<template name="keygrip_secret_generate_pane">
    <div class="x-tab c-keygrip-secret-generate-pane ui-h100">
        <div class="panel-content">

            <div class="panel-header">
            </div>

            <div class="panel-body">
                <table class="form-table ui-w100 ui-h100">
                    <tr>
                        <td class="ui-center">
                            <button class="btn {{ btnClass }} ui-mt1 ui-mb1 js-generate" type="button" title="{{ i18n key="keygrips.edit.generate_button_title" }}" {{ btnDisabled }}>
                                {{ i18n key="keygrips.edit.generate_button_text" }}
                            </button>
                            <div class="generate {{ btnDisabled }} ui-mt05">
                                {{{ i18n key="keygrips.edit.generate_below_text" }}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>
