<template name="organization_resources_pane">
    <div class="x-tab c-organization-resources-pane">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.resources.list_preamble" }}}
                </div>
                {{> resource_new_button }}
            </div>

            <div class="panel-body">
                {{> resources_list }}
            </div>

        </div>
    </div>
</template>
