<template name="client_application_type_select">
    <div class="c-client-application-type-select">

        <select class="form-select js-jwk-kty" {{ isDisabled }}>
            {{#unless hasCurrent }}
                <option value="" selected disabled>{{ i18n key="definitions.application_type.select_text" }}</option>
            {{/unless}}
            {{#each it in itemsList }}
                <option value="{{ itId it }}" {{ itSelected it }}>{{ itLabel it }}</option>
            {{/each}}
        </select>

    </div>
</template>
