/*
 * /imports/client/stylesheets/default-layout.less
 */

body {
    --bs-body-font-family: 'Josefin Sans';
    // with the above police, have to force the alignment of FA images
    svg.svg-inline--fa {
        vertical-align: middle;
    }
}

.c-app-main {
    height: 100vh;
}

.iziam {
    font-size: 150%;
    .name {
        font-family: 'Serpentine';
        font-style: italic;
        margin-right: 0.5em;
    }
    .label {
    }
}

// this makes the app-content fill all the vertical space
//  only works because c-app-content is a direct descendant of c-app-layout
.t-default-layout.c-app-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    .c-app-content {
        flex-grow: 1;
        overflow: auto;
    }
}

// app-footer is displayed as a droppable ribbon on bottom of the page, with links
//  we like to have a small padding and a border under the content
.t-default-layout {
    .c-app-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em;
        margin-top: 0.5em;
        font-size: 90%;
        a:hover {
            color: inherit;
        }
        .footer-left {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            .c-site-copyright a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                img {
                    width: 1.5em;
                }
            }
            .c-powered-by a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
            }
        }
        .footer-middle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .footer-right {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
        }
        border-top-width: 1px;
        border-top-style: solid;
    }
}

// app-header is displayed as a thick ribbon on top of the page, with item menus and buttons
//  we like to have a small padding and a border above the content
.t-default-layout {
    .c-app-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em;
        margin-bottom: 0.5em;
        .header-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
            }
            a:hover {
                text-decoration: none;
                color: inherit;
            }
            a img {
                width: 1.75em;
            }
            a p {
                margin-left: 0.5em;
                font-weight: bold;
            }
        }
        .header-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
        }
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}

.t-default-layout {
    .c-app-content {
        height: 100%;
        .c-app-preamble {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: calc( var( --ui-resp-5-1-5 ) * 0.25em );
            .one {
                font-size: 200%;
                font-weight: bold;
                text-align: center;
            }
            .two {
                width: 35%;
                img {
                    width: 100%;
                }
            }
            .three {
                width: 65%;
                margin-left: 2em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .acUserLogin .ac-text-one {
                    font-size: 105%;
                    font-weight: bold;
                    margin-bottom: 0.5em;
                }
            }
            .not-allowed {
                margin: 5em;
                font-weight: bold;
            }
        }
        .x-page {
            padding: 0 0.5em;
            height: 100%;
        }
    }
}

/*
 * Positionning
 */

.c-client-new-assistant {
    display: flex;
}
.c-client-edit-dialog,
.c-client-new-assistant {
    min-height:35em;
    .by-item {
        padding: 0.5em;
        border: 1px solid transparent;
    }
    .by-item:hover {
        cursor: pointer;
    }
    .by-item.selected {
        border: 1px solid gray;
        border-radius: 0.5em;
        border-color: lightgray;
    }
    .chooser {
        margin-left: 1em;
    }
    .content .text {
        margin-bottom: 0.5em;
    }
    .c-client-new-assistant-introduction {
        justify-content: center;
        margin-right: 1em;
    }
    .c-client-new-assistant-profile {
        .chooser {
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .by-item {
            width: 15em;
            height: 22em;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.5em;
            padding: 0.5em;
            white-space: wrap;
            img {
                width: 6em;
            }
        }
    }
    .c-client-new-assistant-done {
        .error {
            color: var( --bs-danger );
        }
        .success {
            font-weight: bold;
            color: var( --bs-success );
        }
        .result {
            font-weight: bold;
        }
    }
}
.c-client-new-assistant > .Assistant {
    overflow-y: hidden;
    .tabbed-navs {
        min-width: 15em;
    }
}
.c-client-new-assistant > * > * > * > .tabbed-navs-encloser {
    margin-right: 1em;
}
.Assistant {
    fieldset.summary {
        color: #013583; // darken( var( --bs-primary ), 50 );
        margin-bottom: 1em;
        border: 1px solid lightgray;
        border-radius: 0.5em;
        padding: 0.5em;
        legend {
            font-size: 1em;
            margin: 0;
            float: inherit;
            width: auto;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        .recap {
            margin-left: 1em;
            td.label {
                white-space: nowrap;
                padding-right: 0.25em;
            }
        }
        p,
        p.text,
        p.text2,
        p.text3 {
            margin: 0;
        }
        p.text3 {
            font-size: 95%;
        }
    }
}

.c-jwk-edit-dialog {
    .disabled {
        color: gray;
        font-style: italic;
    }
}

.c-client-new-button,
.c-client-secret-new-button,
.c-group-new-button,
.c-jwk-new-button,
.c-keygrip-new-button,
.c-keygrip-secret-new-button,
.c-resource-new-button {
    margin-left: 1em;
    .PlusButton {
        margin-top: 0;
    }
}

.c-clients-groups-hierarchy-pane,
.c-identities-groups-hierarchy-pane,
.c-organization-clients-groups-pane,
.c-organization-identities-groups-pane {
    .groups-body,
    .c-groups-tree,
    .panel-content {
        height: 100%;
    }
    .c-groups-buttons {
        white-space: nowrap;
        margin: 0 1em;
    }
    .c-groups-tree {
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 0.25em;
        padding: 1em;
        .tree {
            min-height: 350px;
            li.jstree-node,
            .jstree-wholerow,
            a.jstree-anchor {
                line-height: 2em;
                min-height: 2em;
            }
            li.jstree-node svg {
                margin-right: 0.5em;
            }
            li.jstree-node svg.type-group {
                height: 1em;
                color: var( --bs-primary );
            }
            li.jstree-node svg.type-identity {
                height: 1em;
                color: var( --bs-info );
            }
        }
        .c-buttons {
            margin-top: 1em;
            padding-top: 0.5em;
            border-top: 1px solid lightgray;
        }
    }
}

// multiple-select adjustements
.c-identities-select {
    height: 20em;
    .multiple-select {
        .icon-caret {
            display: none;
        }
        button.ms-choice {
            border: 0;
            span {
                top: 0.3em;
            }
            span.placeholder {
                color: x-transparent;
                cursor: inherit;
                background-color: inherit;
            }
        }
    }
}

.c-identity-password-pane {
    .pane-preamble {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .ac-eye {
        margin-left: -30px;
        color: var( --bs-gray );
        position: relative;
    }
    .ac-eye:hover {
        cursor: pointer;
    }
    .ac-strength {
        margin-bottom: 0.5em;
        margin-right: 2em;
    }
    .ac-strength-label {
        margin-right: 0.5em;
        font-size: 90%;
        color: black;
    }
    .ac-strength-bar {
        height: 0.5em;
    }
    .ac-strength-other {
        height: 0.4em;
        background-color: #f0f0f0;
        border: 1px solid #e0e0e0;
    }
}

.c-organization-config-ident-pane {
    fieldset {
        border: 1px solid lightgray;
        border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        padding: 0.5em;
    }
    fieldset legend {
        font-size: 1em;
        float: inherit;
        width: auto;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin: 0;
    }
}
.c-organization-groups-pane {
    .c-groups-tree {
        margin-left: 1em;
    }
}

.TenantEditPanel {
    .c-record-properties-pane {
        .tr-label {
            display:none;
        }
    }
}

.x-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}
.x-tab .title:first-child {
    //padding: 0.5em 0 0 0.5em;
}
.x-tab .title:not( :first-child ){
    //padding: 0.5em 1em 0 1em;
}
.x-tab .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}
.x-tab .content.container-fluid {
    padding: 0 0.5em;
}

/*
 * Utilities
 */

// a responsive padding left and right
.app-hpad10 {
    padding-left: 0.25em;
    padding-right: 0.25em;
    @media screen and ( min-width: @ui-sm-width ){
        margin-left: 2em;
        margin-right: 2em;
    }
    @media screen and ( min-width: @ui-md-width ){
        margin-left: 5em;
        margin-right: 5em;
    }
    @media screen and ( min-width: @ui-lg-width ){
        margin-left: 10em;
        margin-right:10em;
    }
    @media screen and ( min-width: @ui-xl-width ){
        margin-left: 20em;
        margin-right: 20em;
    }
}

// horizontally center in the screen the inner element
.app-hcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// vertically center in the screen the inner element
.app-vcenter {
    height: 100%;
    display: flex;
    align-items: center;
}

// most of our forms are layouted inside of tables
.form-table {
    width: 100%;
    .form-subtext {
        margin: 0.25em 2em;
        font-style: italic;
        color: gray;
    }
}

// most of the panels have a text preamble above
.panel-content {
    //height: 100%;
    display: flex;
    flex-direction: column;
}
.panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.panel-preamble {
    margin: 0.5em 0;
}
.panel-body {
    flex-grow: 1;
}

.c-identity-address-row,
.c-identity-email-row,
.c-identity-phone-row,
.c-identity-username-row {
    .form-check-input {
        margin: 0 auto;
    }
}

.c-authorizations-count-badge,
.c-clients-count-badge,
.c-clients-groups-count-badge,
.c-identities-count-badge,
.c-identities-groups-count-badge,
.c-resources-count-badge {
    span.badge {
        top: -3em;
        right: -1.5em;
    }
}

.c-identity-addresses-pane {
    .separator {
        margin-top: 0.5em;
        padding-top: 0.5em;
        border-top: 1px solid lightgray;
    }
}

/*
// a mixin which provide the izIAM application color
//.input-readonly-bg( @bg ){ @color: lighten( @bg, 50% ); }
*/
