<template name="client_new_assistant_profile">
    <div class="c-client-new-assistant-profile">

        {{> client_new_assistant_current }}

        <div class="text">
            {{{ i18n key="clients.new_assistant.profile_text" }}}
        </div>

        <div class="chooser">
            {{#each it in itemsList }}
                <div class="by-item" data-item-id="{{ itId it }}">
                    <img src="{{ itImage it }}" />
                    <div class="label">{{ itLabel it }}</div>
                    <div class="description form-text">{{ itDescription it }}</div>
                </div>
            {{/each}}
        </div>

    </div>
</template>
