<template name="client_secret_generate_pane">
    <div class="x-tab c-client-secret-generate-pane ui-h100">
        <div class="panel-content ui-h100">

            <div class="panel-header">
            </div>

            <div class="panel-body ui-h100">
                <table class="form-table ui-w100 ui-h100">
                    <tr>
                        <td class="ui-center">
                            <button class="btn {{ btnClass }} ui-mb1 js-generate" type="button" title="{{ i18n key="clients.secrets.edit.generate_button_title" }}" {{ btnDisabled }}>
                                {{ i18n key="clients.secrets.edit.generate_button_text" }}
                            </button>
                            <div class="generate {{ btnDisabled }} ui-mt05">
                                {{{ i18n key="clients.secrets.edit.generate_below_text" }}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>
