<template name="groups_panel">
    <div class="c-groups-panel ui-h100">
        <div class="panel-content">

            <div class="panel-header">
            </div>

            <div class="panel-body">
                <div class="groups-body d-flex">
                    
                    {{> groups_tree (parmsTree) }}
                    
                    {{> groups_buttons (parmsButtons) }}

                </div>
            </div>

            <div class="panel-footer">
            </div>

        </div>
    </div>
</template>
