<template name="image_includer">
    <div class="c-image-includer">

        <div class="d-flex align-items-center justify-content-center includer-top-picture">
            <div class="includer-picture">
                <div class="{{ picImgClass }}">
                    <img src="{{ picture }}" />
                </div>
                <div class="{{ picSvgClass }}">
                    <span class="fa-solid fa-fw fa-user"></span>
                </div>
            </div>
        </div>

        {{#if haveInput }}
            <div>
                <label for="image-includer-url" class="form-label">{{ i18n key="image_includer.panel.url_label" }}</label>
                <div class="d-flex align-items-center">
                    <input type="text" class="form-control js-url" id="image-includer-url" placeholder="{{ i18n key="image_includer.panel.url_ph" }}" value="{{ picture }}">
                    <button class="btn btn-sm btn-outline-primary ca-ml025 js-go" title="" >
                        <span class="fa-solid fa-fw fa-globe"></span>
                    </button>
                </div>
            </div>
        {{/if}}

    </div>
</template>
