<template name="client_redirect_row">

    <tr class="c-client-redirect-row" data-item-id="{{ this.it.id }}">
        <td><input class="form-control js-url" type="url" placeholder="{{ i18n key="clients.redirects.url_ph" }}" /></td>
        <td>{{> FormsCheckStatusIndicator (parmsCheckStatus) }}</td>
        <td>
            <button class="btn btn-sm btn-outline-primary js-minus" title="{{ i18n key="clients.redirects.remove_title" }}" {{ minusEnabled }} >
                <span class="fa-solid fa-fw fa-minus"></span>
            </button>
        </td>
    </tr>

</template>
