<template name="client_secret_properties_pane">
    <div class="c-client-secret-properties-pane">

        <table class="form-table ui-w100">
            <tr>
                <td class="ui-w20 label"><label class="form-label" for="secret-label">{{ i18n key="clients.secrets.edit.label_label" }}</label></td>
                <td>
                    <div class="ui-w100 js-label" title="{{ i18n key="clients.secrets.edit.label_title" }}">
                        <input class="form-control" type="text" id="secret-label" placeholder="{{ i18n key="clients.secrets.edit.label_ph" }}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ui-w20 label"><label class="form-label">{{ i18n key="clients.secrets.edit.alg_label" }}</label></td>
                <td>
                    <div class="ui-mt025 ui-w50 js-alg" title="{{ i18n key="clients.secrets.edit.alg_title" }}">
                        {{> hmac_alg_select (parmsHmacAlgSelect) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ui-w20 label"><label class="form-label">{{ i18n key="clients.secrets.edit.encoding_label" }}</label></td>
                <td>
                    <div class="ui-mt025 ui-w50 js-encoding" title="{{ i18n key="clients.secrets.edit.encoding_title" }}">
                        {{> hmac_encoding_select (parmsHmacEncodingSelect) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ui-w20 label"><label class="form-label" for="secret-size">{{ i18n key="clients.secrets.edit.size_label" }}</label></td>
                <td>
                    <div class="ui-mt025 ui-w50 js-size" title="{{ i18n key="clients.secrets.edit.size_title" }}">
                        <input class="form-control" type="number" id="secret-size" {{ sizeDisabled }} />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ui-w20 label"><label class="form-label" for="secret-expire">{{ i18n key="clients.secrets.edit.expire_label" }}</label></td>
                <td class="ui-w100">
                    <div class="ui-w50 ui-mt025 js-expire" title="{{ i18n key="clients.secrets.edit.expire_title" }}">
                        {{> DateInput (parmsDate) }}
                    </div>
                </td>
            </tr>
        </table>

    </div>
</template>
