<template name="client_secret_properties_pane">
    <div class="x-tab c-client-secret-properties-pane">
        <div class="panel-content">

            <div class="panel-header">
            </div>

            <div class="panel-body">
                <table class="form-table ui-w100">
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="secret-label">{{ i18n key="clients.secrets.edit.label_label" }}</label></td>
                        <td>
                            <div class="ui-w100 js-label" title="{{ i18n key="clients.secrets.edit.label_title" }}">
                                <input class="form-control" type="text" id="secret-label" placeholder="{{ i18n key="clients.secrets.edit.label_ph" }}" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label">{{ i18n key="clients.secrets.edit.encoding_label" }}</label></td>
                        <td>
                            <div class="ui-mt025 ui-w50 js-encoding" title="{{ i18n key="clients.secrets.edit.encoding_title" }}">
                                {{> secret_encoding_select (parmsSecretEncodingSelect) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="secret-size">{{ i18n key="clients.secrets.edit.size_label" }}</label></td>
                        <td>
                            <div class="ui-mt025 ui-w50 js-size" title="{{ i18n key="clients.secrets.edit.size_title" }}">
                                <input class="form-control" type="number" id="secret-size" {{ sizeDisabled }} />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="secret-starting">{{ i18n key="clients.secrets.edit.starting_label" }}</label></td>
                        <td class="ui-w100">
                            <div class="ui-w50 ui-mt025 js-starting" title="{{ i18n key="clients.secrets.edit.starting_title" }}">
                                {{> DateInput (parmsStartingDate) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="secret-ending">{{ i18n key="clients.secrets.edit.ending_label" }}</label></td>
                        <td class="ui-w100">
                            <div class="ui-w50 ui-mt025 js-ending" title="{{ i18n key="clients.secrets.edit.ending_title" }}">
                                {{> DateInput (parmsEndingDate) }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>
