<template name="client_properties_panel">
    <div class="c-client-properties-panel">

        <table class="form-table ui-w100">
            <tr>
                <td class="ui-w20 label"><label class="form-label" for="client-panel-label">{{ i18n key="clients.edit.label_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control flex-grow-1 js-label" type="text" id="client-panel-label" placeholder="{{ i18n key="clients.edit.label_ph" }}" title="{{ i18n key="clients.edit.label_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="client-panel-description">{{ i18n key="clients.edit.description_label" }}</label></td>
                <td>
                    <input class="form-control js-description" type="text" id="client-panel-description" placeholder="{{ i18n key="clients.edit.description_ph" }}" title="{{ i18n key="clients.edit.description_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="client-panel-logo">{{ i18n key="clients.edit.logo_label" }}</label></td>
                <td>
                    <input class="form-control js-logo" type="text" id="client-panel-logo" placeholder="{{ i18n key="clients.edit.logo_ph" }}" title="{{ i18n key="clients.edit.logo_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="client-panel-home">{{ i18n key="clients.edit.home_label" }}</label></td>
                <td>
                    <input class="form-control js-home" type="text" id="client-panel-home" placeholder="{{ i18n key="clients.edit.home_ph" }}" title="{{ i18n key="clients.edit.home_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="client-panel-tos">{{ i18n key="clients.edit.tos_label" }}</label></td>
                <td>
                    <input class="form-control js-tos" type="text" id="client-panel-tos" placeholder="{{ i18n key="clients.edit.tos_ph" }}" title="{{ i18n key="clients.edit.tos_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="client-panel-privacy">{{ i18n key="clients.edit.privacy_label" }}</label></td>
                <td>
                    <input class="form-control js-privacy" type="text" id="client-panel-privacy" placeholder="{{ i18n key="clients.edit.privacy_ph" }}" title="{{ i18n key="clients.edit.privacy_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="client-panel-softid">{{ i18n key="clients.edit.softid_label" }}</label></td>
                <td>
                    <input class="form-control ui-w50 js-softid" type="text" id="client-panel-softid" placeholder="{{ i18n key="clients.edit.softid_ph" }}" title="{{ i18n key="clients.edit.softid_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="client-panel-softver">{{ i18n key="clients.edit.softver_label" }}</label></td>
                <td>
                    <input class="form-control ui-w50 js-softver" type="text" id="client-panel-softver" placeholder="{{ i18n key="clients.edit.softver_ph" }}" title="{{ i18n key="clients.edit.softver_title" }}" />
                </td>
            </tr>
            {{#if withProfile }}
                <tr>
                    <td class="label"><label class="form-label">{{ i18n key="clients.edit.profile_label" }}</label></td>
                    <td>
                        <div class="ui-mt025 ui-w50 js-profile">
                            {{> client_profile_select (parmsProfileSelect) }}
                        </div>
                    </td>
                </tr>
            {{/if}}
            {{#if withClientType }}
                <tr>
                    <td class="label"><label class="form-label">{{ i18n key="clients.edit.client_type_label" }}</label></td>
                    <td>
                        <div class="ui-mt025 ui-w50 js-client-type">
                            {{> client_type_select (parmsClientTypeSelect) }}
                        </div>
                    </td>
                </tr>
            {{/if}}
            {{#if withApplicationType }}
                <tr>
                    <td class="label"><label class="form-label">{{ i18n key="clients.edit.application_type_label" }}</label></td>
                    <td>
                        <div class="ui-mt025 ui-w50 js-application-type">
                            {{> application_type_select (parmsApplicationTypeSelect) }}
                        </div>
                    </td>
                </tr>
            {{/if}}
        </table>

    </div>
</template>
