<template name="organization_config_oauth_pane">
    <div class="x-tab c-organization-config-oauth-pane">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.edit.oauth_config_preamble" }}}
                </div>    
            </div>

            <div class="panel-body">
                <table class="form-table ui-w100">
                    <tr>
                        <td class="ui-w15 label ui-vatop"><label class="form-label ui-mt05" for="{{ itFor "label" }}">{{ i18n key="organizations.edit.issuer_label" }}</label></td>
                        <td class="ui-w100">
                            <input class="form-control flex-grow-1 js-issuer" type="text" id="{{ itFor "label" }}" placeholder="{{ i18n key="organizations.edit.issuer_ph" }}" title="{{ i18n key="organizations.edit.issuer_title" }}" />
                            <p class="form-subtext">{{{ issuer_example }}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui-w15"></td>
                        <td class="ui-w100">
                            <div class="js-pkce">
                                <div class="form-check ui-mt05" title="{{ i18n key="organizations.edit.pkce_title" }}">
                                    <input class="form-check-input" type="checkbox" id="{{ itFor "pkce" }}" />
                                    <label class="form-check-label" for="{{ itFor "pkce" }}">{{ i18n key="organizations.edit.pkce_label" }}</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input ui-hidden" type="checkbox"/>
                                    <label class="form-check-label" for="{{ itFor "pkce" }}">{{{ i18n key="organizations.edit.pkce_description" }}}</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
