<template name="client_new_assistant_grant_type">
    <div class="c-client-new-assistant-grant-type">

        {{> client_new_assistant_current (parmsCurrent) }}

        <div class="content">
            <div class="text">
                {{{ i18n key="clients.new_assistant.grant_type_text" }}}
            </div>

            <div class="chooser">
                <table class="form-table">
                    {{#each nature in naturesList }}
                        <tr>
                            <td colspan="2"><p class="ui-mt05 ui-fwbold">{{{ natureHeader nature }}}</p></td>
                        </tr>
                        {{#each it in itemsList nature }}
                            <tr>
                                <td class="ui-nowrap ui-vatop">
                                    <input class="form-check-input ui-mr025 js-check" id="{{ it }}" type="{{ itInputType nature it }}" name="nature-{{ nature }}" {{ itChecked nature it }} />
                                    <label class="form-check-label" for="{{ it }}">{{ itLabel nature it }}</label>
                                </td>
                                <td>
                                    <p class="text3 ui-ml05">{{{ itDescription nature it }}}</p>
                                </td>
                            </tr>
                        {{/each}}
                    {{/each}}
                </table>
            </div>
        </div>

    </div>
</template>
