<template name="organization_identities_pane">
    <div class="x-tab c-organization-identities-pane">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.identities.list_preamble" }}}
                </div>
                {{> AccountNewButton (parmsNewAccount) }}
            </div>

            <div class="panel-body">
                {{> AccountsList (parmsAccountsList) }}
            </div>

        </div>
    </div>
</template>
