<template name="client_group_properties_pane">
    <div class="c-client-group-properties-pane">
        <div class="panel-content">

            <div class="panel-header">
            </div>

            <div class="panel-body">
                <table class="form-table ui-w100">
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="group-panel-label">{{ i18n key="groups.edit.label_label" }}</label></td>
                        <td class="ui-w100">
                            <input class="form-control flex-grow-1 js-label" type="text" id="group-panel-label" placeholder="{{ i18n key="groups.edit.label_ph" }}" title="{{ i18n key="groups.edit.label_title" }}" />
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>
