<template name="client_secrets_panel">
    <div class="c-client-secrets-panel">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="clients.secrets.edit.preamble" }}}
                </div>
                {{> client_secret_new_button }}
            </div>

            <div class="panel-body">
                {{> client_secrets_list (parmsSecretsList) }}
            </div>

        </div>
    </div>
</template>
