<template name="organization_new_assistant_done">
    <div class="c-organization-new-assistant-done ui-h100 d-flex flex-column">

        {{> organization_new_assistant_current }}

        <div class="content flex-grow-1">
            <div class="text app-vcenter">
                {{#if haveError }}
                    <p class="error">Error: {{{ error }}}</p>
                {{else}}
                    <div>
                        <p class="success">{{{ success }}}</p>
                        <p class="sub-success">{{{ sub_success }}}</p>
                    </div>
                {{/if}}
            </div>
        </div>

    </div>
</template>
