<template name="identity_password_pane">
    <div class="x-tab c-identity-password-pane">
        <div class="pane-content">

            <div class="pane-header">
                <div class="pane-preamble">
                    {{{ i18n key="identities.authenticate.password_preamble" }}}
                </div>
            </div>

            <div class="pane-body">
                <form>
                    <input hidden type="text" autocomplete="username email" value="{{ identity_login }}" />

                    <div class="ac-strength d-flex justify-content-end align-items-center">
                        <div class="ac-strength-label">{{ i18n key="identities.authenticate.strength_label" }}</div>
                        <div class="ac-strength-bar"></div>
                        <div class="ac-strength-other"></div>
                    </div>

                    <table class="form-table ui-w100">
                        <tr>
                            <td class="ui-w10 label"><label class="form-label" for="clear1-label">{{ i18n key="identities.authenticate.password_label" }}</label></td>
                            <td class="ui-w100">
                                <div class="ui-w100 d-flex align-items-center js-password js-clear1">
                                    <input class="form-control" type="password" autocomplete="new-password" id="clear1-label" placeholder="{{ i18n key="identities.authenticate.password1_ph" }}" title="{{ i18n key="identities.authenticate.password1_title" }}" />
                                    <span class="fa-regular fa-eye-slash ac-eye"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="ui-w100">
                                <div class="ui-w100 d-flex align-items-center js-password js-clear2">
                                    <input class="form-control" type="password" autocomplete="new-password" id="clear2-label" placeholder="{{ i18n key="identities.authenticate.password2_ph" }}" title="{{ i18n key="identities.authenticate.password2_title" }}" />
                                    <span class="fa-regular fa-eye-slash ac-eye"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
    </div>
</template>
