<template name="organization_clients_pane">
    <div class="x-tab c-organization-clients-pane">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.clients.list_preamble" }}}
                </div>
                {{> client_new_button }}
            </div>

            <div class="panel-body">
                {{> clients_list }}
            </div>

        </div>
    </div>
</template>
