<template name="organization_rest_panel">
    <div class="c-organization-rest-pane">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.edit.rest_config_preamble" }}}
                </div>    
            </div>

            <div class="panel-body">
                <table class="form-table ui-w100">
                    <tr>
                        <td class="ui-w15 label"><label class="form-label" for="{{ itFor "url" }}">{{ i18n key="organizations.edit.baseurl_label" }}</label></td>
                        <td class="ui-w100">
                            <input class="form-control flex-grow-1 js-baseurl" type="text" id="{{ itFor "url" }}" placeholder="{{ i18n key="organizations.edit.baseurl_ph" }}" title="{{ i18n key="organizations.edit.baseurl_title" }}" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
