<template name="organization_jwks_pane">
    <div class="x-tab c-organization-jwks-pane">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.jwks.preamble" }}}
                </div>
                {{> jwk_new_button }}
            </div>

            <div class="panel-body">
                {{> jwks_list (parmsJwksList) }}
            </div>

        </div>
    </div>
</template>
