<template name="client_identity_auth_mode_panel">
    <div class="c-client-identity-auth-mode-panel">
        <div clas="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ content_text }}}
                </div>
            </div>

            <div class="panel-body">
                <div class="chooser ui-w100 js-check">
                    {{#each it in itemsList }}
                        <div class="by-item {{ itSelected it }}">
                            <div class="form-check">
                                <input class="form-check-input" id="{{ itFor it }}" type="radio" name="{{ itName it }}" value="{{ itValue it }}" {{ itChecked it }} />
                                <label class="form-check-label form-label-title" for="{{ itFor it }}">{{ itLabel it }}</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ui-hidden" type="radio" name="{{ itName it }}" value="{{ itValue it }}" />
                                <label class="form-check-label form-label-description" for="{{ itFor it }}">{{{ itDescription it }}}</label>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</template>
