<template name="app_header">
    <div class="c-app-header">
        {{#if wantHeader }}

            <div class="header-left">
                <a href="/">
                    {{> site_logo }}
                    <p>{{{ title }}}</p>
                </a>
                <div class="ui-ml1"></div>
                <!--
                {{> organization_header }}
                -->
            </div>

            <div class="header-middle">
                <div class="ui-ml1"></div>
            </div>

            <div class="header-right">

                <div class="ui-ml1"></div>
                {{> app_edit_button }}

                <span class="ui-ml1"></span>
                {{> acUserLogin (parmsUserLogin) }}

                {{#if isConnected }}
                    <span class="ui-ml05"></span>
                    {{> app_menu_button }}
                {{/if}}
            </div>

        {{/if}}
    </div>
</template>
