<template name="app_header">
    <div class="c-app-header">

        {{#if runContext.wantHeader }}
            <div class="header-left">
                <a href="/">
                    {{> site_logo }}
                    <p>{{{ runContext.title }}}</p>
                </a>
                <div class="ca-ml1"></div>
                <!--
                {{> organization_header }}
                -->
            </div>

            <div class="header-middle">
                <div class="ca-ml1"></div>
            </div>

            <div class="header-right">
            <!--
                <div class="ca-ml1"></div>
                {{> edit_button }}
                <span class="ca-ml1"></span>
                {{> acUserLogin (parmsUserLogin) }}

                {{#if runContext.isConnected }}
                    <span class="ca-ml05"></span>
                    {{> app_menu_button }}
                {{/if}}
            -->
            </div>
        {{/if}}

    </div>
</template>
