<template name="keygrip_secret_properties_pane">
    <div class="c-keygrip-secret-properties-pane">

        <table class="form-table ui-w100">
            <tr>
                <td class="label"><label class="form-label" for="keygrip-label">{{ i18n key="keygrips.edit.label_label" }}</label></td>
                <td class="ui-w100" title="{{ i18n key="keygrips.edit.secret_label_title" }}">
                    <div class="ui-w100 js-label">
                        <input class="form-control" type="text" id="keygrip-label" placeholder="{{ i18n key="keygrips.edit.label_ph" }}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="keygrip-expire">{{ i18n key="keygrips.edit.expire_label" }}</label></td>
                <td title="{{ i18n key="keygrips.edit.expire_title" }}">
                    <div class="ui-w100 js-expire">
                        {{> DateInput (parmsDate) }}
                   </div>
                </td>
            </tr>
            <tr>
                <td class="label ui-vatop"><label class="form-label" for="keygrip-secret">{{ i18n key="keygrips.edit.secret_label" }}</label></td>
                <td title="{{ i18n key="keygrips.edit.secret_title" }}">
                    <div class="ui-w100 js-secret">
                        <textarea class="form-control" id="keygrip-secret" readonly rows="3"></textarea>
                    </div>
                </td>
            </tr>
            {{#unless isText }}
                <tr>
                    <td colspan="2">
                        <div class="ui-mt05"></div>
                    </td>
                </tr>
            {{/unless}}
            <tr>
                <td class="label ui-vatop"><label class="form-label" for="keygrip-hash">{{ i18n key="keygrips.edit.hash_label" }}</label></td>
                <td title="{{ i18n key="keygrips.edit.hash_title" }}">
                    <div class="ui-w100 js-hash">
                        {{#if isText }}
                            <textarea class="form-control" id="keygrip-hash" readonly rows="3"></textarea>
                        {{else}}
                            <p class="ui-italic">{{ i18n key="keygrips.edit.binary_label" }}</p>
                        {{/if}}
                    </div>
                </td>
            </tr>
        </table>

    </div>
</template>
