<template name="clients_group_select">
    <div class="c-clients-group-select ui-w100">

        <div class="d-flex">
            <input class="form-control flex-grow-1" type="text" placeholder="{{ i18n key="clients_groups.select.input_ph" }}" title="{{ i18n key="clients_groups.select.input_title" }}" {{ disabled }} {{ readonly }} />
            <button class="btn btn-sm btn-outline-secondary ui-ml025 js-tree">
                <span class="fa-solid fa-folder-tree"></span>
            </button>
        </div>

    </div>
</template>
