<template name="client_secret_secret_pane">
    <div class="x-tab c-client-secret-secret-pane">
        <div class="panel-content">

            <div class="panel-header">
            </div>

            <div class="panel-body">
                <h5 class="ui-mt05">{{ i18n key="keygrips.edit.secret_secret_title" }}</h5>
                <div class="container">
                    <code>{{ treeifiedSecret }}</code>
                </div>

                <h5 class="ui-mt05">{{ i18n key="keygrips.edit.secret_hash_title" }}</h5>
                <div class="container">
                    <code>{{ treeifiedHash }}</code>
                </div>
            </div>

        </div>
    </div>
</template>
