<template name="jwk_properties_pane">
    <div class="c-jwk-properties-pane">

        <table class="form-table ui-w100">
            <tr>
                <td class="ui-w20 label"><label class="form-label" for="jwk-label">{{ i18n key="jwks.edit.label_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control flex-grow-1 js-label" type="text" id="jwk-label" placeholder="{{ i18n key="jwks.edit.label_ph" }}" title="{{ i18n key="jwks.edit.label_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="ui-w20 label"><label class="form-label" for="jwk-use">{{ i18n key="jwks.edit.use_label" }}</label></td>
                <td class="ui-w100" title="{{ i18n key="jwks.edit.use_title" }}">
                    <div class="ui-mt025 ui-w100 js-use">
                        {{> jwk_use_select (parmsJwkUseSelect) }}
                    </div>
                </td>
            </tr>
        </table>
    
    </div>
</template>
