<template name="organization_config_dynregistration_pane">
    <div class="x-tab c-organization-config-dynregistration-pane">
        <div class="panel-content">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.edit.dynregistration_preamble" }}}
                </div>
            </div>

            <div class="panel-body">
                <table class="form-table ui-w100">
                    <tr>
                        <td class="ui-w15"></td>
                        <td class="ui-w100">
                            <div class="form-check js-confidential ui-mt05" title="{{ i18n key="organizations.edit.dynconfidential_title" }}">
                                <input class="form-check-input" type="checkbox" id="dynconfidential" />
                                <label class="form-check-label" for="dynconfidential">{{ i18n key="organizations.edit.dynconfidential_label" }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="form-check js-public ui-mt05" title="{{ i18n key="organizations.edit.dynpublic_title" }}">
                                <input class="form-check-input" type="checkbox" id="dynpublic" />
                                <label class="form-check-label" for="dynpublic">{{ i18n key="organizations.edit.dynpublic_label" }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="form-check js-user ui-mt05" title="{{ i18n key="organizations.edit.dynuser_title" }}">
                                <input class="form-check-input" type="checkbox" id="dynuser" />
                                <label class="form-check-label" for="dynuser">{{ i18n key="organizations.edit.dynuser_label" }}</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>
