<template name="organization_identities_groups_pane">
    <div class="x-tab c-organization-identities-groups-pane">
        <div class="panel-content ui-h100">

            <div class="panel-header">
                <div class="panel-preamble">
                    {{{ i18n key="organizations.groups.identities_list_preamble" }}}
                </div>
                <!--
                {{> identity_group_new_button }}
                -->
            </div>

            <div class="panel-body">
                {{> identities_groups_tree_view }}
            </div>

        </div>
    </div>
</template>
