<template name="client_token_extensions_panel">
    <div class="c-client-token-extensions-panel">

        <div class="chooser">
            {{#each it in itemsList }}
                <div class="by-item" data-item-id="{{ it }}">
                    <div class="form-check">
                        <input class="form-check-input ui-mr025" id="{{ it }}" type="checkbox" {{ itChecked it }} {{ itDisabled it }} />
                        <label class="form-check-label" for="{{ it }}">{{ itLabel it }}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input ui-hidden" type="checkbox" {{ itDisabled it }} />
                        <label class="form-check-label" for="{{ it }}">{{{ itDescription it }}}</label>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>
</template>
