<template name="client_token_extensions_panel">
    <div class="x-tab c-client-token-extensions-panel">
        <div class="panel-content ui-h100">

            <div class="panel-header">
            </div>

            <div class="panel-body">
                {{#if haveItems }}
                    <div class="chooser">
                        {{#each it in itemsList }}
                            <div class="by-item" data-item-id="{{ itId it }}">
                                <div class="form-check">
                                    <input class="form-check-input ui-mr025" id="{{ itFor it }}" type="checkbox" {{ itChecked it }} {{ itDisabled it }} />
                                    <label class="form-check-label" for="{{ itFor it }}">{{ itLabel it }}</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input ui-hidden" type="checkbox" {{ itDisabled it }} />
                                    <label class="form-check-label" for="{{ itFor it }}">{{{ itDescription it }}}</label>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="no-items app-vcenter app-hcenter">
                        {{{ i18n key="clients.edit.no_token_extension" }}}
                    </div>
                {{/if}}
            </div>

        </div>
    </div>
</template>
