<template name="client_id_panel">
    <div class="c-client-id-panel">
        <div class="panel-content">

            <div class="panel-header">
            </div>

            <div class="panel-body">
                <table class="form-table">
                    <tr>
                        <td class="ui-w20 label"><label class="form-label" for="client-id">{{ i18n key="clients.edit.id_label" }}</label></td>
                        <td class="ui-w100"><input class="form-control js-id" type="text" id="client-id" readonly title="{{ i18n key="clients.edit.id_title" }}" /></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>
