<template name="groups_buttons">
    <div class="c-groups-buttons">

        {{#if isEditable }}

            <div class="d-flex flex-column">
                <button class="btn btn-sm btn-outline-primary ui-mb05 js-new-item">{{ i18n key="groups.tabular.new_item_button" }}</button>
                <button class="btn btn-sm btn-outline-primary ui-mb05 js-edit-item" {{ editDisabled }}>{{ i18n key="groups.tabular.edit_item_button" }}</button>
                <button class="btn btn-sm btn-outline-primary ui-mb05 js-remove-item" {{ removeDisabled }}>{{ i18n key="groups.tabular.remove_item_button" }}</button>
                {{#if withIdentities }}
                    <button class="btn btn-sm btn-outline-primary ui-mb05 js-identities" {{ identitiesDisabled }}>{{ i18n key="groups.tabular.identities_button" }}</button>
                {{/if}}
                {{#if withClients }}
                    <button class="btn btn-sm btn-outline-primary ui-mb05 js-clients" {{ clientsDisabled }}>{{ i18n key="groups.tabular.clients_button" }}</button>
                {{/if}}
            </div>

        {{else}}

            <div class="d-flex flex-column">
                <button class="btn btn-primary ui-mb05 js-edit-tree">{{ i18n key="groups.tabular.edit_tree_button" }}</button>
            </div>

        {{/if}}

    </div>
</template>
