<template name="groups_buttons">
    <div class="c-groups-buttons">

        {{#if isEditable }}

        <div class="d-flex flex-column">
            <button class="btn btn-sm btn-secondary ui-mb05 js-new-item">{{ i18n key="groups.tabular.new_item_button" }}</button>
            <button class="btn btn-sm btn-secondary ui-mb05 js-edit-item" {{ editDisabled }}>{{ i18n key="groups.tabular.edit_item_button" }}</button>
            <button class="btn btn-sm btn-secondary ui-mb05 js-delete-item" {{ deleteDisabled }}>{{ i18n key="groups.tabular.delete_item_button" }}</button>
            <div class="ui-mb05"></div>
            <button class="btn btn-sm btn-secondary ui-mb05 js-remove-item" {{ removeDisabled }}>{{ i18n key="groups.tabular.remove_item_button" }}</button>
        </div>

        {{else}}

            <div class="d-flex flex-column">
                <button class="btn btn-sm btn-secondary ui-mb05 js-edit-tree">{{ i18n key="groups.tabular.edit_tree_button" }}</button>
            </div>

        {{/if}}

    </div>
</template>
