<template name="client_new_assistant_auth_method">
    <div class="c-client-new-assistant-auth-method">

        {{> client_new_assistant_current (parmsCurrent) }}

        <div class="content">
            <div class="text">
                <!-- {{> app_serializer document="client-new-auth-mode" }} -->
            </div>
    
            <div class="chooser">
                <div class="chooser-content">
                    {{#each it in itemsList }}
                        <div class="item d-flex flex-row align-items-center">
                            <div class="by-item {{ itDisabled it }} {{ itSelected it }} " data-item-id="{{ itId it }}">
                                <input class="form-check-input ca-mr025 js-check" id="{{ itId it }}" type="checkbox" {{ itChecked it }} {{ itDisabled it }} />
                                <label class="form-label {{ itDisabled it }}" for="{{ itId it }}">{{ itLabel it }}</label>
                            </div>
                            <p class="form-text ca-ml05">{{ itDescription it }}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</template>
