<template name="client_redirects_panel">
    <div class="c-client-redirects-panel">

        <table class="form-table subtable">
            <thead>
                <tr>
                    <th class="ui-w100">{{ i18n key="clients.redirects.url_th" }}</th>
                    <th>
                        <button class="btn btn-sm btn-outline-primary js-plus" title="{{ i18n key="clients.redirects.add_title" }}">
                            <span class="fa-solid fa-fw fa-plus"></span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each it in itemsList }}
                    {{> client_redirect_row (parmsRedirectRow it) }}
                {{/each}}
            </tbody>
        </table>

    </div>
</template>
